@media (max-width: 430px) {
  .mainRes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .curateExp {
    margin-right: 220px;
    font-size: 35px;
  }

  .CardsRes {
    overflow-x: auto;
  }

  .cardImgRes{
    height: 300px;
  }
}
