@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: #0b3d10; /* Same as your component background */
}

html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
